name: CI

on:
  push:
    tags:
      - "v*"
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Build themes
        run: |
          chmod +x ./build_all.sh
          ./build_all.sh -y

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dist/*.tar
          draft: false
          prerelease: false
